<div class="container">
  <ul class="nav nav-tabs mt-5" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" routerLink="second-a" routerLinkActive="active">Second-A</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" routerLink="second-b" routerLinkActive="active">Second-B</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" routerLink="second-c" routerLinkActive="active">Second-C</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <router-outlet></router-outlet>
  </div>
  
</div>